*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    margin: 10px;
    padding: 10px;
}

input{
    width: 99%; 
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.output{
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.BubbleSort{   
    animation: PrimeFactor 2s ease;
}
@keyframes BubbleSort{
    from{transform:translateX(500px);}
    to{transform: translateX(0px);}
}