.DrawerNav{   
    width: 100%;
    background-color: lightsalmon;
    color: white;
}

.DrawerNav ul{
    height: 400px;;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.DrawerNav li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    width: 100%;
}

.DrawerNav li:hover{
    background-color: grey;
}

.DrawerNav ul li a {
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 600px){
    .DrawerNav{
        display: none;
    }
}