*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    margin: 10px;
    font-size: 25px;
}

.PrimeNum input{
    width: 95%; 
    padding: 15px;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}

.output{
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.PrimeNum{   
    animation: slidePrimeNum 2s ease;
}
@keyframes slidePrimeNum{
    from{transform:translateX(500px);}
    to{transform: translateX(0px);}
}
